In [ ]:
from IPython.display import display, HTML
import numpy as np
import pandas

initial_matrix = np.array([[0, 12, 36, 46, 54, 58, 62, 62], [0, 10, 21, 40, 63, 78, 92, 100], [0, 17, 33, 43, 65, 73, 80, 82], [0, 22, 44, 67, 81, 95, 108, 117]])
print("Условие задачи:")
display(HTML(pandas.DataFrame(initial_matrix).to_html()))
step = 100
max_money = 700
all_max_matrices = []
print("---------------------------------------------------------------------------------------\nНачинаем вычислять:")
for i in range(len(initial_matrix)):
  tmp = []
  K = len(initial_matrix) - i
  print(f"K={K}")
  print(f"X_{K-1}")
  matrix = []
  if i == 0:
    for j in range(0, 8):
      row = [j*100, j*100, initial_matrix[K-1][j], initial_matrix[K-1][j]]
      matrix.append(row)
    matrix = np.array(matrix)
    for s in matrix:
      tmp.append(s[0])
      tmp.append(s[1])
      tmp.append(s[-1])
    all_max_matrices.append(np.array(tmp).reshape([len(initial_matrix.T), 3]))
    df = pandas.DataFrame(matrix, columns=[f"X_{K-1}", f"u_{K}", f"W_{K}(u_{K})", f"F_{K}(X_{K-1})"])
    display(HTML(df.to_html()))
  elif i != len(initial_matrix)-1:
    for j in range(0, 8):
      s = 0
      while s <= j:
        row = [j*100, s*100, j*100 - s*100, initial_matrix[K-1][s], initial_matrix[K-1][s] + all_max_matrices[-1][j-s][-1], '---']
        matrix.append(row)
        s += 1

    matrix = np.array(matrix)
    value = ''
    for row in matrix:
      if row[0] == value:
        row[0] = '---'
      else:
        value = row[0]

    maxes = []
    u = []
    pos = -1
    started = False
    for j, row in enumerate(matrix):
      if str.isdigit(row[0]) and not started:
        pos = j
        maxes.append(int(row[-2]))
        u.append(int(row[1]))
        started = True
        tmp.append(int(row[0]))
      else:
        maxes.append(int(row[-2]))
        u.append(int(row[1]))
      if j+1 < len(matrix):
        if str.isdigit(matrix[j+1][0]) or j == len(matrix)-2:
          max = np.max(maxes)
          argmax = np.argmax(maxes)
          tmp.append(u[argmax])
          tmp.append(max)
          matrix[pos][-1] = max
          maxes = []
          u = []
          started = False
    df = pandas.DataFrame(matrix, columns=[f"X_{K-1}", f"u_{K}", f"X_{K} = X_{K-1} - u_{K}", f"W_{K}(u_{K})", f"W_{K}(u_{K}) + F_{K+1}(X_{K})", f"F_{K}(X_{K-1})"])
    all_max_matrices.append(np.array(tmp).reshape([len(initial_matrix.T), 3]))
    display(HTML(df.to_html()))
  elif i == len(initial_matrix)-1:
    j = 7
    s = 0
    while s <= j:
      row = [j*100, s*100, j*100 - s*100, initial_matrix[K-1][s], initial_matrix[K-1][s] + all_max_matrices[-1][j-s][-1], '---']
      matrix.append(row)
      s += 1

    matrix = np.array(matrix)
    value = ''
    for row in matrix:
      if row[0] == value:
        row[0] = '---'
      else:
        value = row[0]

    maxes = []
    u = []
    pos = -1
    started = False
    for j, row in enumerate(matrix):
      if str.isdigit(row[0]) and not started:
        pos = j
        maxes.append(int(row[-2]))
        u.append(int(row[1]))
        started = True
        tmp.append(int(row[0]))
      else:
        maxes.append(int(row[-2]))
        u.append(int(row[1]))
      if j+1 < len(matrix):
        if str.isdigit(matrix[j+1][0]) or j == len(matrix)-2:
          max = np.max(maxes)
          argmax = np.argmax(maxes)
          tmp.append(u[argmax])
          tmp.append(max)
          matrix[pos][-1] = max
          maxes = []
          u = []
          started = False
    df = pandas.DataFrame(matrix, columns=[f"X_{K-1}", f"u_{K}", f"X_{K} = X_{K-1} - u_{K}", f"W_{K}(u_{K})", f"W_{K}(u_{K}) + F_{K+1}(X_{K})", f"F_{K}(X_{K-1})"])
    all_max_matrices.append(np.array(tmp).reshape([1, 3]))
    display(HTML(df.to_html()))
i = 0
answer = []
while max_money != 0:
  for j in all_max_matrices[-1-i]:
    if j[0] == max_money:
      u = j[1]
  print(f"X_{i} = {max_money} ---> u_{i+1} = {u}")
  answer.append(u)
  max_money = max_money - u
  i += 1
print(f"Ответ: в первое предприятие инвестируем {answer[0]} тыс. рублей, во второе - {answer[1]} тыс. рублей, в третье - {answer[2]} тыс. рублей и  в четвёртое - {answer[3]} тыс. рублей")

Условие задачи:

---------------------------------------------------------------------------------------
Начинаем вычислять:
K=4
X_3

K=3
X_2

K=2
X_1

K=1
X_0

X_0 = 700 ---> u_1 = 200
X_1 = 500 ---> u_2 = 0
X_2 = 500 ---> u_3 = 200
X_3 = 300 ---> u_4 = 300
Ответ: в первое предприятие инвестируем 200 тыс. рублей, во второе - 0 тыс. рублей, в третье - 200 тыс. рублей и  в четвёртое - 300 тыс. рублей